@import url("https://fonts.googleapis.com/css2 family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.display-flex {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.header-container {
  justify-content: space-between;
}

.menu-icon {
  padding: 20px;
}

.intro-container {
  margin: 16px;
}

.intro-container h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.intro-container p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 20px 0 30px 0;
}

.btn-collaborate {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background-color: #1a2236;
  border: none;
  padding: 12px 24px;
}

.btn-collaborate:hover {
  color: #1a2236;
  background-color: white;
  border: 2px solid #1a2236;
}

.separator-shape img {
  position: relative;
  width: 100%;
  margin: 32px 0 40px 0;
}

.projects-header {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 33px;
  line-height: 100%;
  color: #1a2236;
  padding: 20px 0 36px 20px;
  margin-bottom: 20px;
}

.project-one-container {
  flex-direction: column;
}

.project-image {
  margin-top: -9px;
}

.project-body {
  background-color: #1a2236;
  padding: 30px;
  margin-top: -19px;
}

.project-body h3 {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

footer nav ul {
  list-style: none;
  margin-top: 30px;
}

.project-body ul {
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 85%;
  position: relative;
}

.project-body ul li {
  background-color: #98dede;
  font-size: 9px;
  padding: 4px 7px;
  position: relative;
  margin: 0;
}

form button {
  width: 100%;
  background-color: rgba(26, 34, 54, 1);
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  margin-bottom: 40px;
  padding: 11px;
}

.btn-project-container button {
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: #1a2236;
  border: 1px solid #fff;
}

form button:hover {
  color: rgba(26, 34, 54, 1);
  background-color: white;
  border: 2px solid rgba(26, 34, 54, 1);
}

.btn-project-container button:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
}

.about-section-container {
  padding: 26px 16px;
}

.about-container h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin: 20px 0;
}

.about-container p {
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-bottom: 32px;
}

.languages-container {
  padding: 50px;
  margin: 20px 0;
  background-color: #1c528a;
  background-image: url("images/languages-shape.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 100% 100%;
  background-size: 80px;
}

.languages-container h3,
.frameworks-container h3,
.skills-container h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 21px;
}

.languages-container ul li,
.frameworks-container ul li,
.skills-container ul li {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.frameworks-container {
  padding: 50px;
  margin: 20px 0;
  background-color: #e2505c;
  background-image: url("images/frameworks-shape.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 100% 100%;
  background-size: 80px;
}

.skills-container {
  padding: 50px;
  margin: 20px 0;
  background-color: #febf52;
  background-image: url("images/skills-shape.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 100% 100%;
  background-size: 80px;
}

.form-container {
  background-color: #f9f9fa;
  background-image: url("images/form-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30%;
  padding: 106px 18px 0 18px;
}

.form-container h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.form-container p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 20px 0;
}

input[type="text"],
[type="email"] {
  width: 100%;
  background-color: #fff;
  height: 52px;
  border-radius: 4px;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Poppins", serif;
}

input[type="text"],
[type="email"]:hover {
  border-color: #1a2236;
}

input::placeholder {
  font-size: 10px;
  position: relative;
  top: -14px;
  left: 7px;
}

textarea {
  padding: 10px;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Poppins", serif;
  margin-bottom: 10px;
  height: 110px;
  border: 2px solid #1a2236;
}

textarea:hover {
  border-color: #1a2236;
}

footer {
  background-color: #1a2236;
  padding: 40px 16px;
}

footer a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding-left: 16px;
  text-decoration: none;
}
